<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Mining Editor" %></title>
    <%= stylesheet_link_tag "game" %>
    <!-- Game -->
    <%= javascript_include_tag "game/math_utils/other_utils_obf" %>
    <%= javascript_include_tag "game/math_utils/graphics_utils_obf" %>
    <%= javascript_include_tag "game/math_utils/other_algorithms_obf" %>
    <%= javascript_include_tag "game/graphics/webgl_init_obf" %>
    <%= javascript_include_tag "game/graphics/intersection_obf" %>
    <%= javascript_include_tag "game/graphics/gui_elements_obf" %>
    <%= javascript_include_tag "game/asset_loading/blocks_init_obf.js" %>
    <%= javascript_include_tag "game/uploading/upload_data_utils.js" %>
    <%= javascript_include_tag "game/file_utils_obf" %>
    <%= javascript_include_tag "game/nbt_utils_obf" %>
    <%= javascript_include_tag "game/misc_game_code" %>
    <%= javascript_include_tag "game/tick" %>
    <%= javascript_include_tag "game/key_map" %>
    <%= javascript_include_tag "game/controls" %>
    <%= javascript_include_tag "game/game_start" %>
    <%= javascript_include_tag "game/settings" %>
    <%= javascript_include_tag "game/shaders_temp_file" %>
    <%= javascript_include_tag "game/entities/mob_obf" %>
    <%= javascript_include_tag "game/entities/humanoid_obf" %>
    <%= javascript_include_tag "game/ui_message" %>
    <%= javascript_include_tag "game/ui_message_manager" %>
    <%= javascript_include_tag "game/world/chunk_obf" %>
    <%= javascript_include_tag "game/world/region_obf" %>
    <%= javascript_include_tag "game/world/region" %>
    <%= javascript_include_tag "game/world/region_svr_obf" %>
    <%= javascript_include_tag "game/world/world_obf" %>
    <%= javascript_include_tag "game/camera/aerial_obf" %>
    <%= javascript_include_tag "game/camera/ghost_obf" %>
    <%= javascript_include_tag "game/camera/player_obf" %>
    <%= javascript_include_tag "game/camera/spectator_obf" %>
    <!-- Code Editor -->
    <%= javascript_include_tag "ace-editor/ace" %>
    <!-- Color Picker -->
    <%= javascript_include_tag "jscolor/jscolor" %>
  </head>
  <body oncontextmenu="return false;" onload='webGLStart();' style="margin: 0px; border: none; overflow: hidden" scroll="no">
    <%= yield %>
  </body>
</html>
