<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Mining Editor" %></title>
    <%= stylesheet_link_tag "game" %>
    <!-- Game -->
    <%= javascript_include_tag "game/misc_game_code" %>
    <%= javascript_include_tag "game/settings" %>
    <!-- Code Editor -->
    <%= javascript_include_tag "ace-editor/ace" %>
    <!-- Color Picker -->
    <%= javascript_include_tag "jscolor/jscolor" %>
  </head>
  <body oncontextmenu="return false;" onload='webGLStart();' style="margin: 0px; border: none;">
    <%= yield %>
  </body>
</html>
